<h1>Editing Project</h1>

<%= link_to 'Back', @project, class: 'btn btn-secoundary mb-3' %>
<div class="card">
  <div class="card-body">
    <h2 class='card-title mb-4'>
      <span>Editting project</span>
    </h2>

    <%= render 'form', project:@project %>
  </div>
</div>
